.taskbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
  height: var(--taskbar-height);
  background-color: var(--accent-color);
  border-top: 0.25rem ridge white;

  z-index: 15;
}

.start-wrapper {
  position: relative;
  height: 100%;
  min-width: var(--taskbar-secondary-width);
  padding-right: 0.125rem;
  border-right: 1px solid var(--border-color);
}

.start-btn {
  font-weight: bold;
  height: 100%;
  width: 100%;
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  border: 1px outset black;
  box-shadow: inset -1px -1px 1px rgba(0, 0, 0);
  transition: all 0ms;
  cursor: pointer;

  overflow: hidden;
}

.start-btn span {
  display: flex;
  gap: 0.25rem;
  justify-content: center;
  align-items: center;
  transition: all 100ms;
}

.start-btn:hover {
  background-color: var(--accent-hover);
}

.start-btn:active {
  background-color: var(--accent-click);
  border: 3px inset black;
}

/* javascript */
.start-btn-clicked {
  background-color: var(--accent-hover);
  padding-left: 5px;
  border: 3px inset black;
}

.start-btn:active span {
  transform: translateX(0.0625rem);
}

.start-btn img {
  width: 1rem;
}

.start-menu {
  display: flex;
  position: absolute;
  height: 15rem;
  width: 10rem;
  left: 0;
  background-color: var(--accent-color);
  border: 0.125rem outset rgb(255, 255, 255);

  bottom: 100%;
  overflow: hidden;

  transition: all 100ms;
}

/* javascript */
.start-menu-hide {
  height: 0px;
  border: none;
}

.start-menu-title {
  display: flex;
  align-items: center;
  padding-top: 0.5rem;
  writing-mode: vertical-lr;
  white-space: nowrap;
  color: var(--desktop-text-color);
  transform: rotate(180deg);
  font-size: 0.75rem;
  width: 20%;
  overflow: hidden;
  background-color: var(--active-color);
  background: linear-gradient(to top, black 10%, var(--active-color) 100%);
}

.start-menu-nav {
  width: 100%;
}

.social-media-grid {
  display: grid;
  align-items: end;
  list-style: none;
  height: 100%;
}

.social-media-item {
  height: 100%;
}

.social-media-item:hover {
  color: var(--desktop-text-color);
  background-color: var(--active-color);
}

.social-media-container {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 0.5rem;
}

.social-media-icon {
  width: 25%;
  border-radius: 0.25rem;
  margin-right: 0.25rem;
}

.social-media-name {
  font-size: 0.8rem;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
}

.tasks-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  padding: 0 0.25rem 0 0.25rem;
  border-right: 1px solid var(--border-color);
}

.open-window {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.5rem;
  min-height: 80%;
  min-width: 2.3rem;
  max-width: 40%;
  text-transform: capitalize;
  flex: 1;
  padding: 0.125rem;
  margin-right: 0.25rem;
  border: 2px outset rgb(222, 222, 222);
}

.active-item {
  background-color: var(--accent-color);
  border: 2px inset rgb(222, 222, 222);
  font-weight: bold;
}

.right-taskbar-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-width: calc(var(--taskbar-secondary-width) * 1.1);
  height: 100%;
  padding-left: 0.125rem;
  border: 2px inset rgb(162, 162, 162);
  font-size: 0.65rem;
  transition: none;
}

.time {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  /* outline: 1px dashed blue; */
}

.time-container {
  padding-right: 0.125rem;
}

.volume-icon {
  width: 1rem;
  padding-left: 0.125rem;
  padding-right: 0.25rem;

  cursor: pointer;
}
